.Square {
    width: 50px;
    height: 50px;
}

.Square.black {
    background-color: black;
}

.Square.white {
    background-color: white;
}

.Square:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 0, 0.62);
}

.Square.selected {
    background-color: darkgreen;
}
